/*General*/

@font-face {
  src: url(Fonts/Jost-Bold.ttf);
  font-family: Jost-Bold;
}
@font-face {
  src: url(Fonts/Jost-Regular.ttf);
  font-family: Jost;
}

body {
  background-color: #011629;
  color: white;
  font-family: Jost, sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

header {
  background-color: #011629;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid black;
  width: 100%;
  padding-bottom: 7px;
}

main {
  padding: 20px;
  flex: 1;
  overflow-x: auto;
}

footer {
  background-color: #011e3a;
  padding: 3px 20px;
  border-top: 1px solid black;
}

h1 {
  color: #e0041e;
  font-size: 2.5em;
  font-family: Jost-Bold;
  margin-bottom: 10px;
  padding-left: 20px;
}

section {
  scroll-margin: 30vh;
}

p {
  width: 90vw;
}

pre {
  font-family: Jost;
}

nav {
  border-radius: 5px;
}

a {
  color: #add8e6;
  font-size: large;
  text-decoration: none;
}

a:hover {
  color: red;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
}
.main-nav__item {
  color: white;
  font-family: Jost-Bold;
  background-color: #011e3a;
  border-radius: 5px;
  padding: 5px 20px;
  white-space: nowrap;
}

.main-nav-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 10px;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin-top: 15px ;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.CarTable {
  border-collapse: collapse;
  white-space: nowrap;
  min-width: 100%;
  border: #e0041e 3px solid;
}

.CarTable tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

.CarTable img {
  width: 30vw;
  height: auto;
  object-fit: contain;
}

#RedBullRacing {
  height: 60px;
  width: auto;
}

/*Drivers*/

.Bio-Drivers{
  font-size: 0.6em;
  color: white ;
}

/*Statistic*/

#Year {
  font-family: Jost-Bold;
}

#yearSelect {
  background-color: #011629;
  color: white;
  border-radius: 2px;
}

.Cars-Driver-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
}

.Cars {
  width: 90vw;
  height: 25vw;
  display: flex;
  justify-content: center;
}

.Cars img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.Drivers {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid Black;
  border-radius: 5px;
  width: 45vw;
  height: 15vw;
  display: flex;
  justify-content: center;
}

.Drivers img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

@media (min-width: 700px) {
  .main-nav {
    width: 60%;
  }
  
  .Cars-Driver-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .Cars {
    width: 40vw;
    height: 25vh;
  }

  .Drivers {
    width: 15vw;
    height: 15vh;
  }

  .CarTable {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .CarTable td,
  .CarTable th {
    padding: 4px;
    white-space: nowrap;
  }

  #Cars,
  #Drivers {
    flex: none;
    width: auto;
  }
}

#DriversPic {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.Races-row {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.RaceTable {
  border: 1px solid white;
  width: 100%;
  border-collapse: collapse;
}

.RaceTable th,
.RaceTable td {
  border: 1px solid white;
  padding: 8px;
}
