/*General*/

@font-face {
  src: url(Fonts/Jost-Bold.ttf);
  font-family: Jost-Bold;
}
@font-face {
  src: url(Fonts/Jost-Regular.ttf);
  font-family: Jost;
}

body {
  background-color: #011629;
  color: white;
  font-family: Jost, sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

header {
  background-color: #011629;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid black;
  width: 100%;
  padding-bottom: 7px;
}

main {
  padding: 20px;
  flex: 1;
  overflow-x: auto;
}

footer {
  background-color: #011e3a;
  padding: 3px 20px;
  border-top: 1px solid black;
}

h1 {
  color: #e0041e;
  font-size: 2.5em;
  font-family: Jost-Bold;
  margin-bottom: 10px;
  padding-left: 20px;
}

section {
  scroll-margin: 30vh;
}

p {
  width: 90vw;
}

pre {
  font-family: Jost;
  white-space: pre-wrap;     
  max-width: 100%;
}

nav {
  border-radius: 5px;
}

a {
  color: #add8e6;
  font-size: large;
  text-decoration: none;
}

a:hover {
  color: red;
}

.site-header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
}

.site-nav__link {
  color: white;
  font-family: Jost-Bold;
  background-color: #011e3a;
  border-radius: 5px;
  padding: 5px 20px;
  white-space: nowrap;
}

.site-nav--secondary {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 10px;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  margin-top: 15px ;
}

.content-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
}

.driver-tile {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid Black;
  border-radius: 5px;
  width: 45vw;
  height: 15vw;
  display: flex;
  justify-content: center;
}

.driver-tile img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

#RedBullRacing {
  height: 60px;
  width: auto;
}

@media (min-width: 700px) {
  .site-nav {
    width: 60%;
  }
  
  .content-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .driver-tile {
    width: 15vw;
    height: 15vh;
  }
}

/*Drivers*/

.drivers-bio{
  font-size: 0.6em;
  color: white ;
}

/*Statistic*/

.stats__controls {
  font-family: Jost-Bold;
}

.stats__select {
  background-color: #011629;
  color: white;
  border-radius: 2px;
}

.stats-car--tile {
  width: 90vw;
  height: 25vw;
  display: flex;
  justify-content: center;
}

.stats-car--tile img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.stats__drivers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.stats-races {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.stats-races--table {
  border: 1px solid white;
  width: 100%;
  border-collapse: collapse;
}

.stats-races--table th, .stats-races--table td {
  border: 1px solid white;
  padding: 8px;
}

@media (min-width: 700px) {
  .stats-car--tile {
    width: 40vw;
    height: 25vh;
  }

  #Cars, #Drivers {
    flex: none;
    width: auto;
  }
}

/*Cars*/

.cars-table--container {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.cars-table {
  border-collapse: collapse;
  white-space: nowrap;
  min-width: 100%;
  border: #e0041e 3px solid;
}

.cars-table tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.5);
}

.cars-table img {
  width: 30vw;
  height: auto;
  object-fit: contain;
}

@media (min-width: 700px) {
  .cars-table {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .cars-table td, .cars-table th {
    padding: 4px;
    white-space: nowrap;
  }
}