/*General*/

@font-face {
  src: url(Fonts/Jost-Bold.ttf);
  font-family: Jost-Bold;
}
@font-face {
  src: url(Fonts/Jost-Regular.ttf);
  font-family: Jost;
}

body {
  background-color: #011629;
  color: white;
  font-family: Jost, sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #011629;
  padding: 3px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid black;
}

main {
  padding: 20px;
  flex: 1;
}

footer {
  background-color: #011e3a;
  padding: 3px 20px;
  border-top: 1px solid black;
}

h1 {
  color: #e0041e;
  font-size: 2.5em;
  font-family: Jost-Bold;
  margin-bottom: 10px;
}

section {
  scroll-margin: 30vh;
}

pre {
  font-family: Jost;
}

nav {
  border-radius: 5px;
}

a {
  color: #add8e6;
  font-size: large;
  text-decoration: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  justify-content: safe;
  align-items: left;
  width: 60%;
  margin: 0 10px 4px;
  padding: 20px auto;
}
.main-nav__item {
  color: white;
  font-family: Jost-Bold;
  background-color: #011e3a;
  border-radius: 5px;
  padding: 5px 20px;
  white-space: nowrap;
}

.main-nav-2 {
  align-items: left;
  justify-content: space-evenly;
  width: 60%;
  margin: 15px 10px;
}

#RedBullRacing {
  height: 60px;
  float: right;
}

/*Statistic*/

#Year {
  font-family: Jost-Bold;
}

#yearSelect {
  background-color: #011629;
  color: white;
  border-radius: 2px;
}

.Cars-Driver-row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-direction: column;
}

.Cars {
  width: 90vw;
  height: 25vw;
  display: flex;
  justify-content: center;
}

.Cars img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.Drivers {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid Black;
  border-radius: 5px;
  width: 45vw;
  height: 15vw;
  display: flex;
  justify-content: center;
}

.Drivers img {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

@media (min-width: 650px) {
  .Cars-Driver-row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .Cars {
    width: 40vw;
    height: 25vh;
  }

  .Drivers {
    width: 15vw;
    height: 15vh;
  }

  #Cars,
  #Drivers {
    flex: none;
    width: auto;
  }
}

@media (max-width: 650px) {
  .Cars-Driver-row {
    flex-direction: column;
    align-items: center;
  }

  .Cars,
  .Drivers {
    width: 90vw;
    height: auto;
  }

  .main-nav,
  .main-nav-2 {
    width: 100%;
    justify-content: center;
  }
}

#DriversPic {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.Races-row {
  width: 100%;
  overflow-x: auto;
}

.RaceTable {
  border: 1px solid white;
  width: 100%;
  border-collapse: collapse;
}

.RaceTable th,
.RaceTable td {
  border: 1px solid white;
  padding: 8px;
}
