body {
  background-color: #011629;
  color: white;
}

h1 {
  color: red;
  font-size: 2.5em;
  margin-bottom: 20px;
}

nav {
  background-color: gray;
}

a {
  font-size: large;
  color: white;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__item {
  margin: 0 15px;
}

.main-nav2 {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  align-items: center;
}

#RedBullRacing {
  height: 100px;
  float: right;
}
