/*General*/

@font-face {
    src: url(Fonts/Jost-Bold.ttf);
    font-family: Jost-Bold
}
@font-face {
    src: url(Fonts/Jost-Regular.ttf);
    font-family: Jost
}

body {
  background-color: #011629;
  color: white;
  font-family: Jost, sans-serif;
}

h1 {
  color: red;
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: Jost-Bold;
}

nav {
  background-color: gray;
  border-radius: 5px;
}

a {
  font-size: large;
  color: white;
  text-decoration: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-nav__item {
  margin: 0 15px;
  color: Black;
  font-family: Jost-Bold 
}

.main-nav2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3px;
  align-items: center;
}

#RedBullRacing {
  height: 100px;
  float: right;
}

/*Statistic*/

#Year{
  font-family: Jost-Bold;
}

.Cars-Driver-row{
  display: flex;
  gap: 20px;
  align-items: flex-start; 
  margin-bottom: 20px;
  flex-direction: column;
}

.Cars {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid black;
  border-radius: 5px;
  width: 90vw; 
  height: 25vw;
  display: flex;
  justify-content: center;
}

.Cars img {
  max-width: 90%;
  max-height: 100%;
}

.Drivers{
  background-color:rgba(255, 255, 255, 0.5);
  border: 2px solid Black;
  border-radius: 5px;
  width: 45vw;
  height: 15vw;
  display: flex;
  justify-content: center;
}

.Drivers img{
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

@media (min-width: 650px) {
  .Cars-Driver-row {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  .Cars {
  width: 40vw;
  height: 25vh;
  }

  .Drivers{
    width: 15vw;
    height: 15vh;
  }

  #Cars, #Drivers {
    flex: none;
    width: auto;
  }
}



#DriversPic {
    display: flex;      
    flex-wrap: wrap;     
    gap: 10px;           
    align-items: center; 
}

.Races-row {
  width: 100%; 
  overflow-x: auto;
  white-space: nowrap;
}

.RaceTable {
  border: 1px solid white;
  width: 100%;
  border-collapse: collapse;
}

.RaceTable th, .RaceTable td {
  border: 1px solid white; 
  padding: 8px;
}

